@import "l-header.scss";
@import "l-hero.scss";
@import "l-recordings.scss";
@import "l-testimonials.scss";
@import "l-solutions.scss";
@import "l-companies.scss";
@import "grid.scss";
.wrap {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
}
