
// |---------------------------------------|
// |                COLOURS                |
// |---------------------------------------|

// primary bg colour
$primary-bg-colour: #F13C51;

// Secondry bg colour
$secondry-bg-colour: #F8F8FA;

// Thrid bg colour
$third-bg-colour: white;

// Fourth bg colour
$footer-bg-colour: #black;


// ------ FONTS ------ //

// primary font colour
$primary-font-colour: white;

//secondry font colour
$secondry-font-colour: black;

// third font colour
$third-font-colour: #6A6E79;

// button colour
$primary-btn-colour: #F13C51;

$secondry-btn-colour: white;

// |---------------------------------------|
// |                Font-family            |
// |---------------------------------------|

//primary font
$font-family: 'Roboto', sans-serif;

// //secondry font
// $secondry-font-family:'Open Sans', sans-serif;
